<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.epidemic.mapper.AreaMapper">

    <resultMap id="AreaMap" type="com.example.epidemic.pojo.Area">
        <result column="area_id" property="areaId"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="province_name" property="provinceName"></result>
        <result column="city_name" property="cityName"></result>
        <result column="county_name" property="countyName"></result>
        <result column="area_name" property="areaName"></result>
    </resultMap>

    <select id="getAllAreas" resultMap="AreaMap">
        select * from area_info
    </select>

    <select id="getAreas" resultMap="AreaMap">
        select * from area_info where area_id >= #{from} and area_id &lt;= #{to}
    </select>

</mapper>
