<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.epidemic.mapper.FinalTestMapper">

    <resultMap id="AreaMap" type="com.example.epidemic.pojo.Area">
        <result column="area_id" property="areaId"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="province_name" property="provinceName"></result>
        <result column="city_name" property="cityName"></result>
        <result column="county_name" property="countyName"></result>
        <result column="area_name" property="areaName"></result>
    </resultMap>

    <select id="getAllContactsCount" resultType="java.lang.Integer">
        select count(*) from contacts_info
    </select>

    <select id="getMatchContacts" resultType="java.lang.Integer">
        select count(c1.contact_id) from contacts_info as c1, contacts_info_copy1 as c2
        where c1.contact_id = c2.contact_id and
              c1.potential_patient = c2.potential_patient
    </select>

    <delete id="deleteChainInfoById">
        delete from corelation_chain_info where id = #{id}
    </delete>

</mapper>
