<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.epidemic.mapper.TestMapper">

    <resultMap id="PatientMap" type="com.example.epidemic.pojo.Patient">
        <result column="patient_id" property="patientId"></result>
        <result column="epidemic_id" property="epidemicId"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="patient_name" property="patientName"></result>
        <result column="patient_address" property="patientAddress"></result>
        <result column="patient_identity" property="patientIdentity"></result>
        <result column="patient_tel" property="patientTel"></result>
        <result column="patient_symptom" property="patientSymptom"></result>
        <result column="patient_age" property="patientAge"></result>
        <result column="patient_sex" property="patientSex"></result>
        <result column="heart_rate" property="heartRate"></result>
        <result column="breath" property="breath"></result>
        <result column="patient_date" property="patientDate"></result>
    </resultMap>

    <resultMap id="ContactMap" type="com.example.epidemic.pojo.Contact">
        <result column="contact_id" property="contactId"></result>
        <result column="contact_name" property="contactName"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="contact_age" property="contactAge"></result>
        <result column="contact_sex" property="contactSex"></result>
        <result column="contact_tel" property="contactTel"></result>
        <result column="contact_address" property="contactAddress"></result>
        <result column="contact_identity" property="contactIdentity"></result>
        <result column="contact_of_vaccinations" property="contactOfVaccinations"></result>
        <result column="contact_history_of_illness" property="contactHistoryOfIllness"></result>
        <result column="potential_patient_probability" property="potentialPatientProbability"></result>
        <result column="potential_patient" property="potentialPatient"></result>
        <result column="heart_rate" property="heartRate"></result>
        <result column="breath" property="breath"></result>
        <result column="contact_date" property="contactDate"></result>
    </resultMap>

    <resultMap id="PatientTrackMap" type="com.example.epidemic.pojo.PatientTrack">
        <result column="patient_track_id" property="patientTrackId"></result>
        <result column="patient_id" property="patientId"></result>
        <result column="area_id" property="areaId"></result>
        <result column="start_time" property="startTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="mask" property="mask"></result>
        <result column="temperature" property="temperature"></result>
        <result column="humidness" property="humidness"></result>
    </resultMap>

    <resultMap id="ContactTrackMap" type="com.example.epidemic.pojo.ContactTrack">
        <result column="contact_track_id" property="contactTrackId"></result>
        <result column="contact_id" property="contactId"></result>
        <result column="area_id" property="areaId"></result>
        <result column="start_time" property="startTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="mask" property="mask"></result>
        <result column="temperature" property="temperature"></result>
        <result column="humidness" property="humidness"></result>
    </resultMap>

    <resultMap id="AreaMap" type="com.example.epidemic.pojo.Area">
        <result column="area_id" property="areaId"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="province_name" property="provinceName"></result>
        <result column="city_name" property="cityName"></result>
        <result column="county_name" property="countyName"></result>
        <result column="area_name" property="areaName"></result>
    </resultMap>

    <select id="getAllPatients" resultMap="PatientMap">
        select * from patients_info;
    </select>

    <select id="queryPatientById" resultMap="PatientMap">
        select * from patients_info
        where patient_id = #{patient_id}
    </select>

    <select id="queryPatientsByBatch" resultMap="PatientMap">
        select * from patients_info as pi
        where pi.batch = #{batch} and pi.area_code = #{areaCode}
    </select>

<!--    <select id="queryPatientsByDate" resultMap="PatientMap">-->
<!--        select *-->
<!--        from patients_info as pi-->
<!--        where pi.patient_id in(-->
<!--            select distinct(pti.patient_id) from patients_track_info as pti-->
<!--            where DATE_FORMAT(pti.end_time,'%Y-%m-%d') >= DATE_FORMAT(#{date},'%Y-%m-%d')-->
<!--              and DATE_FORMAT(pti.start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{date},'%Y-%m-%d')-->
<!--        ) and pi.area_code = #{areaCode}-->
<!--    </select>-->

    <select id="queryPatientsByDate" resultMap="PatientMap">
        select * from patients_info
        where patient_date = #{date} and area_code = #{areaCode}
    </select>

    <select id="queryContacts" resultMap="ContactMap">
        select * from contacts_info
        where area_code = #{area_code} and contact_date = #{date} and contacts_info.contact_id in (
            select contact_id from relation0 where patient_id = #{patient_id}
                )
    </select>

    <select id="queryPatientTrackById" resultMap="PatientTrackMap">
        select * from patients_track_info
        where patient_id = #{patient_id}
    </select>

    <select id="queryContactTrackById" resultMap="ContactTrackMap">
        select * from contacts_track_info
        where contact_id = #{contact_id}
    </select>

    <select id="queryAreaPeopleDensity" resultMap="AreaMap">
        select * from area_info
        where area_id = #{area_id}
    </select>

    <select id="countPatient" resultType="java.lang.Integer">
        select count(*) from patients_info
        where area_code = #{areaCode} and patient_date = #{date}
    </select>

    <select id="countPotentialPatient" resultType="java.lang.Integer">
        select count(*) from contacts_info
        where area_code = #{areaCode} and potential_patient = 1 and contact_date = #{date}
    </select>

    <update id="setPossibility">
        update contacts_info set potential_patient_probability = #{possibility}
        where contact_id = #{contactId} and potential_patient_probability &lt;= 0.1
    </update>

    <update id="setPotentialPatient">
        update contacts_info set potential_patient = #{isPotential}
        where contact_id = #{contactId}
    </update>

    <select id="queryPotentialPatient" resultMap="ContactMap">
        select * from contacts_info
        where potential_patient = 1 and contact_date = #{date} and area_code = #{areaCode}
    </select>

    <update id="clearAllPossibility">
        update contacts_info
        set potential_patient_probability = 0, potential_patient = 0
    </update>

    <select id="queryPatientByName" resultType="java.lang.Integer">
        select patient_id from patients_info
        where patient_name = #{patientName}
    </select>
</mapper>
